<%= content_tag :div, class: "bg-white border border-#{task_status_color(task)}-200 rounded-lg p-4 cursor-pointer hover:shadow-md transition" do %>
  <%= link_to workspace_project_task_path(workspace, project, task) do %>
    <div class="flex items-center justify-between mb-2">
    <span class="<%= "px-2 py-1 text-xs bg-#{task_type_color(task)}-100 text-#{task_type_color(task)}-700 rounded-full" %>">
      <%= t("activerecord.attributes.task.type.#{task.type}") %>
    </span>
      <span class="<%= "px-2 py-1 text-xs bg-#{task_priority_color(task)}-100 text-#{task_priority_color(task)}-700 rounded-full" %>">
        <%= t("activerecord.attributes.task.priority.#{task.priority}") %>
      </span>
    </div>
    <h4 class="font-medium text-gray-900"><%= task.title %></h4>
    <p class="text-sm text-gray-500 mt-1"><%= task.description %></p>
    <div class="mt-4 flex flex-col space-y-2">
      <div class="flex items-center">
        <img src="<%= avatar(task.assign_user) %>"
             class="w-6 h-6 rounded-full" alt="<%= task.assign_user.name %>">
        <span class="text-xs text-gray-500 ml-2"><%= task.assign_user.name %></span>
      </div>
      <div data-controller="duedate"
           data-duedate-target="container"
           data-duedate-start-at-value="<%= task.start_at.try(:strftime, "%Y.%m.%d") %>"
           data-duedate-end-at-value="<%= task.end_at.try(:strftime, "%Y.%m.%d") %>"
           class="flex items-center text-xs">
        <%= lucide_icon "calendar", class: "w-4 h-4 mr-1" %>
        <span data-duedate-target="remainingDays"></span>
      </div>
    </div>
  <% end %>
<% end %>
