<div class="mb-8">
  <div class="flex items-center justify-between">
    <div>
      <div class="flex items-center space-x-2 mb-2">
        <%= link_to workspace_path(@workspace), class: "text-sm text-gray-500 hover:text-indigo-600 flex items-center" do %>
          <%= lucide_icon "briefcase", class: "w-4 h-4 mr-1" %>
          <%= @workspace.name %>
        <% end %>
        <span class="text-gray-400">/</span>
        <div class="flex items-center space-x-2">
          <h1 class="text-2xl font-bold text-gray-900"><%= @project.title %></h1>
          <div class="flex items-center space-x-1">
            <%= link_to edit_workspace_project_path(@workspace, @project), class: "p-1 text-gray-400 hover:text-indigo-600 rounded-full hover:bg-gray-100" do %>
              <%= lucide_icon "edit", class: "w-5 h-5" %>
            <% end %>
            <%= button_to workspace_project_path(@workspace, @project), method: :delete,
                          class: "p-1 my-auto text-gray-400 hover:text-red-600 rounded-full hover:bg-gray-100 cursor-pointer",
                          data: { turbo_confirm: t("shared.confirm.destroy") } do %>
              <%= lucide_icon "trash-2", class: "w-5 h-5" %>
            <% end %>
          </div>
        </div>
      </div>
      <p class="text-gray-500"><%= @project.description %></p>
    </div>
    <%= link_to new_workspace_project_task_path(@workspace, @project),
                class: "flex items-center px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 cursor-pointer" do %>
      <%= lucide_icon "plus", class: "w-5 h-5 mr-2" %>
      <%= t("tasks.buttons.create") %>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6">
  <% Task.statuses.each_with_index do |status, i| %>
    <%= render "tasks/tasks", index: i, count: @tasks.fetch(status[0], []).count,
               workspace: @workspace, project: @project, tasks: @tasks[status[0]] %>
  <% end %>
</div>
